
.search-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 10px;
    

  }
  
  .search-input {
    width: 500px;
    background-color: azure;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 600px) {
    .search-input {
      width: 200px;
    }
  }

  