
.search-container {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;

  }
  
  .search-input {
    width: 300px;
  }
  
  @media (max-width: 600px) {
    .search-input {
      width: 200px;
    }
  }

  